.flex-center {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
